<shared-popup (cancel)="cancel.emit()">
    <mat-card-title>Ajouter une participation</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="15px" (submit)="form.valid && submit()">
            <mat-form-field>
                <input
                        matInput
                        formControlName="amount"
                        type="number"
                        placeholder="montant"
                />
            </mat-form-field>
            <app-form-error [control]="form.get('amount')"></app-form-error>
            <mat-form-field>
                <input
                        matInput
                        formControlName="description"
                        type="text"
                        placeholder="description"
                />
            </mat-form-field>
            <app-form-error [control]="form.get('description')"></app-form-error>
            <button class="connexion" mat-raised-button color="primary" [disabled]="!form.valid || pending">
                Ajouter
            </button>
        </form>
    </mat-card-content>
</shared-popup>
