    <mat-card-title>Connexion</mat-card-title>
    <div *ngIf="error">
        Adresse email ou mot de passe incorrect. {{ getErrorMessage(error) }}
    </div>
    <mat-card-content>
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="15px" (submit)="form.valid && submit()">
            <mat-form-field>
                <input
                        matInput
                        formControlName="email"
                        type="text"
                        placeholder="email"
                        autocomplete="new-password"
                />
            </mat-form-field>
            <app-form-error [control]="form.get('email')"></app-form-error>
            <mat-form-field>
                <input
                        matInput
                        formControlName="password"
                        type="password"
                        placeholder="mot de passe"
                        autocomplete="new-password"
                />
            </mat-form-field>
            <app-form-error [control]="form.get('password')"></app-form-error>
            <button class="connexion" mat-raised-button color="primary" [disabled]="!form.valid">
                Connexion
            </button>
        </form>
    </mat-card-content>
